<!DOCTYPE html>
<html lang="en">
  <head>
      <script src="/vendor/es6-shim.js"></script>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title><%= title %></title>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1 class="site-name"><%= title %></h1>
    <p class="lead">Angular 2 / Express Example App</p>
    <main><content><img class="loading" src="images/loading.svg" width="94px"></content></main>
    <script>
      System.paths = {
          'angular2/*':'/vendor/angular2/*.js',
          'rx/*': '/vendor/rx.all.js',
          'rtts_assert/*': '/vendor/rtts_assert/*.js',
          'components/*': 'components/*.js',
          'main': 'components/main/index.es6'
      };  
      System.import('main');
    </script>
  </body>
</html>